* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  z-index: 3;
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 23px;
  color: white;
  z-index: 0;
}

.navbar .nav-link {
  font-size: 18px;
  color: white;
}
.navbar .nav-link:hover {
  color: black;
  font-weight: 700;
}
.nav-link active {
  font-weight: 700;
  color: aqua;
}

.nav-link active:hover {
  color: aqua;
}

.bg-transparent {
  transition: all ease-in 0.3s;
}
.nav-color {
  background-color: rgba(22, 185, 90, 0.884);
  transition: all ease-in-out 0.3s;
}

.nav-item:hover {
  color: white !important;
  font-weight: bold;
}

.nav-item:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 3px solid black;
  margin: 1px auto;
}

.nav-item:hover::after {
  width: 100%;
  transition: all 0.9s ease;
}

.dropdown-menu {
  border: none !important;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  background-color: white !important;
  margin: 20px;
}

.dropdown-item:hover {
  font-weight: bold;
  color: or !important ;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin: 8px auto;
  transition: all 0.9s ease;
}

.c-item {
  height: 350px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}
.carousel-inner {
  width: 100%;
  height: auto;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
  position: absolute;
}
.carousel-caption h2 {
  color: white;
  font-weight: 600;
  text-align: left;
}

.navbar-brand {
  font-size: 2rem;
}

.desa-section {
  text-align: center;
  padding: 2rem;
  font-size: 40px;
  font-weight: 600;
}

#tentang p {
  color: black;
  font-size: 18px;
}
#profil {
  padding: 100px 0;
  background: url(https://images.unsplash.com/photo-1528826542659-27db5adea13c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1345&q=80);
  background-attachment: fixed;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

#profil i {
  color: white;
  font-size: 75px;
}
.data-penduduk .row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.data-penduduk {
  text-align: center;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  font-size: 5px;
}

.text-data-penduduk {
  font-family: "Lobster", cursive;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
  color: orangered;
  font-size: 40px;
  font-weight: 600;
}

.data-penduduk .col-lg-4 {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon-data h2 {
  font-size: 32px;
  font-weight: 600;
}

.icon-data h4 {
  font-size: 22px;
  font-weight: 600;
}
.struktur-section {
  text-align: center;
}

.galeri-section {
  text-align: center;
}

.maps-section {
  text-align: center;
}

#visi-misi {
  background-color: orange;
  padding: 3rem;
}

#visi-misi h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
}
.visi h3 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.8;
}

.visi p {
  color: black;
  font-size: 19px;
}

.misi h3 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.8;
}

.misi p {
  color: black;
  font-size: 19px;
  line-height: 1.8;
}
#galeri h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}
.card-fitur h5 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}

.card-fitur span {
  color: #fff;
  font-size: 18px;
}

.card-fitur h6 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.card-fitur .overlay {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.card-fitur .overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.card img {
  width: 100%;
  display: block;
}

#maps h2 {
  font-size: 40px;
  font-weight: 600;
}
.maps-info {
  padding-top: 30px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border: none;
}

footer h4 {
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.footer {
  padding: 10px 0;
  width: 100%;
}
.footer a {
  color: black;
  text-decoration: none;
}

.footer-logo {
  width: 85%;
  height: auto;
}
.footer-p {
  font-size: 18px;
}

#footer .footer-kanan {
  font-size: 15px;
}
.footer-kanan a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.footer-kanan p {
  color: black;
  font-size: 15px;
}

.footer-tengah p {
  color: black;
  font-size: 15px;
}

.footer-tengah a {
  text-decoration: none;
}

.thumbnail-berita {
  background-color: white;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
}

#berita {
  background-color: #f7fafc;
}

.judul-berita {
  font-weight: 600;
}

.selengkapnya:hover {
  font-weight: bold;
  color: black !important ;
}

.thumbnail-berita img {
  width: 100%;
  object-fit: cover;
}

.thumbnail-berita img:hover {
  -webkit-transform: scale(2.08);
  transform: scale(1.1);
}
.deskripsi-berita {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.bar-menu .main-bar-menu:hover {
  border: none !important;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
}

#button-slider .owl-next:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.1);
  background-color: black;
  color: #dadada;
}

#button-slider .owl-prev:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.1);
  background-color: black;
  color: #dadada;
}

#button-slider .owl-prev {
  height: 40px;
  width: 40px;
  margin: 10px 5px;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
}

#button-slider .owl-next {
  height: 40px;
  width: 40px;
  margin: 10px 5px;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
}

.perangkat-desa .detail-perangkat {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.perangkat-desa .detail-perangkat:hover {
  text-decoration: underline;
}

.perangkat-desa img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100px;
}

.perangkat-desa img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.perangkat-desa .card img {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
  border-radius: 8px;
}

.perangkat-desa .card {
  border: none;
}
